<ion-toolbar >
   <ion-title color="primary">EasyMovie</ion-title>
</ion-toolbar>

<!--
<ion-navbar>
  <ion-title>EasyMovie</ion-title>
</ion-navbar>
-->

  <ion-content class="background" no-bounce>

    <div class="divHeader" >

            <div class="imageHeader">
           <img src="./images/headerPrincipal.png" />
            </div>

           <div class="card-textoGrande" style="top: 50%;">
              Existem <span style="color:#e1b612"><b>21 sessões</b></span><br>
              começando agora na sua cidade.<br>
          </div>

          <div class="botaoSuperior" style=" bottom: 0%; width: 100%; height: 20% ">

            <ion-scroll  scrollX="true" class="scrollHorizontalDatas" overflow-scroll="true" >
              <ion-chip  *ngFor=" let data of datas"  [ngClass]="data.selecionado ? 'ativo' : 'inativo'" (tap)="selecionaOpcaoQueroIr(data)">
                <ion-label  class="tag"><b>{{formataData(data.data)}}</b> ({{data.diasemana}})</ion-label>
              </ion-chip>
            </ion-scroll>

          </div>


          
    </div>

<br><br>

<ion-grid class="gradeBotoes">
  <ion-row>
    <ion-col col-50 class="botaoMenu" style="border-right:  1px solid #ccc8c5;" (tap)="verFilmes()" >
    <br>
              <ion-grid >
                  <ion-row >
                      <ion-col class="botaoTexto">Comece por<br><span class="botaoTexto2">Filmes</span></ion-col>
                  </ion-row>
             </ion-grid>
    <br>
    </ion-col>
    <ion-col col-50 class="botaoMenu" (tap)="verCinemas()">
    <br>
              <ion-grid >
                  <ion-row >
                      <ion-col class="botaoTexto">Comece por<br><span class="botaoTexto2">Cinemas</span></ion-col>
                  </ion-row>
             </ion-grid>
    <br>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="botaoMenu" (tap)="verSessoesAgora()" style="border-bottom:  1px solid #ccc8c5;">
    <br>
            <ion-grid >
                <ion-row >
                    <ion-col class="botaoTexto">Buscar por<br><span class="botaoTexto2">Sessões agora!</span></ion-col>
                </ion-row>
           </ion-grid>
    <br>
    </ion-col>
  </ion-row>
</ion-grid>

<br>

<ion-grid style="padding: 0;">
  <ion-row>
    <ion-col class="labelMaisProcurados" style="padding: 2%;">O QUE VAI ESTREAR <b>EM BREVE</b></ion-col>
  </ion-row>
    <ion-row>
    <ion-col class="labelMaisProcurados" style="opacity:0.8">


      <div  #filmeCard *ngFor=" let filme of filmes;let i=index"   style="width:100%">
        <div class="overlayFilme">{{filme.title}}<br><span style="font-size:0.7em">Estréia em <b>{{filme.premiereDate.dayAndMonth}}</b> ({{filme.premiereDate.dayOfWeek}})</span></div>
        <img  src={{filme.images[1].url}}  />
      </div>


    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="background-color: #ffffff;"><br></ion-col>
  </ion-row>
</ion-grid>

  </ion-content>
