<ion-toolbar >
  <ion-buttons left>
    <button ion-button icon-only style="color:white" (tap)="voltar()">
        <ion-icon name="md-arrow-back"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title color="primary">EasyMovie</ion-title>
</ion-toolbar>



<ion-content style="position: relative;">






<div>
<img class='imagemTamanhoFixo' *ngIf="!isEstreia" src={{filmeSelecionado.imagem}}>
<img class='imagemTamanhoFixo' *ngIf="isEstreia" src={{filmeSelecionado.images[1].url}}>
</div>

<div class="headerDetalhesFilme" *ngIf="!isEstreia">

    <div class="posCabecalhoFilme">
        <div class="fonteTituloFilmeDetalhe" text-wrap>{{filmeSelecionado.nome}}</div>
        <div class="labelGeneroFilme"> {{filmeSelecionado.genero}} | {{filmeSelecionado.duracao}} min |  {{filmeSelecionado.classificacao}}</div>
    </div>

    <div class="posCartazFilme">
      <img class="imagemTamanhoCartaz" src={{filmeSelecionado.poster}}>
    </div>
</div>

<div class="headerDetalhesFilme" *ngIf="isEstreia">

    <div class="posCabecalhoFilme">
        <div class="fonteTituloFilme">{{filmeSelecionado.title}}</div> <br>
        <div class="labelGeneroFilme"> {{filmeSelecionado.genres[0]}} | {{filmeSelecionado.duration}} min |  {{filmeSelecionado.contentRating}}</div>
    </div>

    <div class="posCartazFilme">
      <img class="imagemTamanhoCartaz" src={{filmeSelecionado.images[0].url}}>
    </div>
</div>


<div class="headerSubDetalhesFilme" *ngIf="!isEstreia">

  <div class="posRatingIMDB">
    <ion-chip class="ratingIMDBDetalhe">
      <div class="estrelaRatingDetalhe"><img src="./images/starRating.png" class="estrelaRatingTamanhoDetalhe"></div>
      <ion-label style="color:white; position:absolute;left:29%"><b>{{filmeSelecionado.notaimdb}}</b>/<span style="font-size: 10px;">10</span></ion-label>
    </ion-chip>
  </div>

  <div class="posBotaoTrailer">
  <button ion-button outline class="botaoTrailer" (tap)="abrirTrailer(filmeSelecionado.linktrailer)">ASSISTA AO TRAILER</button>
  </div>

</div>


<div class="headerSubDetalhesFilme" *ngIf="isEstreia">

  <div class="posBotaoTrailerEstreia">
  <button ion-button outline class="botaoTrailer" (tap)="abrirTrailer(filmeSelecionado.linktrailer)">ASSISTA AO TRAILER</button>
  </div>

</div>



<div class="conteudo" *ngIf="!isEstreia">
<p><b>SINOPSE</b><br>
{{filmeSelecionado.sinopse}}
</p>

<p><b>Direção</b><br>
{{filmeSelecionado.diretor}}
</p>

<p><b>Atores principais</b><br>
{{filmeSelecionado.cast}}
</p>

<br><br><br>
</div>


<div class="conteudo" *ngIf="isEstreia">
<p><b>SINOPSE</b><br>
{{filmeSelecionado.synopsis}}
</p>

<p><b>Direção</b><br>
{{filmeSelecionado.director}}
</p>

<p><b>Atores principais</b><br>
{{filmeSelecionado.cast}}
</p>

<br><br><br>
</div>


</ion-content>
