<ion-toolbar >
  <ion-buttons start>
    <button ion-button icon-only style="color:white" (tap)="voltar()">
        <ion-icon name="md-arrow-back"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title color="primary">EasyMovie</ion-title>
 <!--ion-buttons end>
      <button ion-button icon-only style="color:white">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons-->
</ion-toolbar>

<ion-content style="position: relative;">
<br>
<div class="labelTituloTela">
<b>Sessões agora!</b>
</div>
<div class="labelSubTituloTela">Filmes que estão para começar</div>


<br>


<ion-scroll  scrollX="true" class="scrollHorizontal" overflow-scroll="true" >
  <ion-chip  *ngFor=" let tag of tags"  [ngClass]="tag.selecionado ? 'ativoSessao' : 'inativoSessao'"  (tap)="selecionaTag(tag)">
    <ion-label class="tag"> {{tag.nome }}</ion-label>
  </ion-chip>
</ion-scroll>

<br><br>

<ion-row class="headerSessoes">
  <ion-col  *ngIf="qtSessoes === 0">Nenhuma sessão encontrada :-(</ion-col>
    <ion-col  *ngIf="qtSessoes === 1">Foi encontrada apenas <b>uma</b> sessão</ion-col>
    <ion-col  *ngIf="qtSessoes > 1">Foram encontradas <b>{{qtSessoes}}</b> sessões</ion-col>
</ion-row>

<!--Scrol somente da tela de resultado -->
<ion-scroll  scrollY="true" class="scrollVertical" overflow-scroll="true" >
<br>
<ion-list class="itemListaSessao" no-lines>

<div *ngFor=" let sessao of sessoes">

  <ion-item class="itemItemSessao" #sessaoFilme  *ngIf="sessao.selecionado==0">
      <div style="position: absolute;  width: 100% ; top: 10%" >
        <ion-row style="height:90%">
          <ion-col col-2 style="text-align: center">

          <span class="fonteLabelTituloHorario" style="font-weight:bold;">{{formataHora(sessao.hora)}}</span>

          </ion-col>
          <ion-col col-9>
            <ion-avatar  class="posterPequeno">
              <img src="{{sessao.poster}}">
            </ion-avatar>
                      <div style="padding-left: 20%">
                          <span class="fonteLabelTituloFilme">{{sessao.nomeFilme}}</span><br>
                          <span class="fonteLabelTituloCinema" >{{sessao.nomeCinema}}</span><br>
                          <span class="fonteLabelTituloDistancia" *ngIf="formataData(filtroData)=='Hoje' "><ion-icon ios="md-time" ></ion-icon>&nbsp;Começa em <b>{{formataTempoAteSessao(sessao.hora)}}</b></span><br>
                          <span class="fonteLabelTituloDistancia"> {{sessao.tipo}} {{sessao.tipo3d}}</span><br>
                          <div class="estrelaRatingSessao"><img src="./images/starRatingSessao.png" class="estrelaRatingTamanhoSessao"></div><div class="estrelaRatingTamanhoSessaoTexto"><b>6.9</b></div>


                      </div>
          </ion-col>
        </ion-row>

      </div>
      <img  src="./images/linhaSessaoAlta.png" style="max-width: 95%;" *ngIf="sessao.selecionado==0"/>

  </ion-item>
</div>


</ion-list>
</ion-scroll>

</ion-content>
